* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background:#f7f9fc;
    color:#222;
}


header {
    background:#111827;
    padding:20px 8%;
}


nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.logo {
    color:white;
    font-size:28px;
}


.company-logo {
    width: 220px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

nav ul {
    display:flex;
    list-style:none;
    gap:30px;
}


nav a {
    color:white;
    text-decoration:none;
}


.hero {

    min-height:600px;
    display:flex;
    align-items:center;
    padding:80px 10%;

    background:
    linear-gradient(
    rgba(15,23,42,.85),
    rgba(15,23,42,.85)
    ),
    url("assets/images/future-tech.jpg");

    background-size:cover;
    background-position:center;

}


.hero-content {

    max-width:700px;
    color:white;

}


.hero h2 {

    font-size:55px;
    margin-bottom:25px;

}


.hero p {

    font-size:22px;
    line-height:1.6;

}


button,
.contact-button {

    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#38bdf8;
    color:white;
    font-size:18px;
    text-decoration:none;
    display:inline-block;

}


section {

    padding:70px 10%;
    text-align:center;

}


section h2 {

    font-size:38px;
    margin-bottom:25px;

}


.cards {

    display:flex;
    gap:30px;
    margin-top:40px;

}


.card {

    flex:1;
    background:white;
    padding:35px;
    border-radius:15px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

}


.card h3 {

    margin-bottom:15px;
    font-size:25px;

}


footer {

    background:#111827;
    color:white;
    text-align:center;
    padding:25px;

}


@media(max-width:800px){

.cards {
    flex-direction:column;
}

.hero h2 {
    font-size:38px;
}

nav {
    flex-direction:column;
    gap:20px;
}

}

.documents {
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:30px;
}

.documents a {

padding:25px;
background:#f3f4f6;
border-radius:12px;
text-decoration:none;
color:#111827;
font-size:18px;

}

.documents a:hover {

transform:translateY(-5px);

}